*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 223, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}
.box{
    width: 900px;
    height: 700px;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;    
}
.text{
    margin: 50px;
    margin-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
}
select{
    width: 700px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-left: 100px;
}
input{
    width: 700px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    margin-left: 100px;
}
label{
    font-size: 20px;
    margin: 20px;
    margin-left: 100px;
}
button{
    width: 700px;
    height: 40px;
    background-color: rgb(0, 220, 0);
    margin: 20px;
    margin-left: 100px;
}
h2{
    margin-left: 280px;
    font-family: Arial, Helvetica, sans-serif;
}